html {
	font-size: 100%
}

p, footer {
	color: #666666;
	font-family: 'Lora', Georgia, "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

h1 {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 2.5rem;
}

h2 {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
font-size: 1.5rem;
}

/*added 11-11*/

body{
	background-color:#0C1421;
	padding-left: 5%;
	padding-right: 5%;
}

nav ul li {
    display: block;
    border-top: 1px #79896d solid;
		font-size: 1.25em;
}

nav a {
    color: #f8ecc2;
    display: block;
    text-decoration: none;
    padding: 20px 30px;
}

header {
    display: flex;
    flex-flow: row;
    background-color: #3E35E0;
    margin: 0;
    padding: 0 10px;
		font-size: 100%;
}

header h1 {
    order: 2;
    font-size: 2em;
}

nav ul {
    display: none;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

/*finished addition 11-11*/

.main {
	float: left;
}

#container{
    width: 95%;
    background-color: #EFE7DD;
    margin: 0 auto;
    text-decoration: none;
}



.navcontainer {
	padding: 5px;
		background: #fff;
	  border-radius: 5px;
		margin: 45px auto;
	  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
	}

	.item {
	color: #000;
	padding: 15px;
	margin: 5px;
	background: #f1b82d;
	border-radius: 3px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 1rem;
}

#sidebar {
  background: white;
	display: block;
	float: right;
	height: 500px;
	width: 500px;
	padding: 10px;
}



#nav li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #FFCC5C;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
		font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #FF6F69;
}

.caption {
    color: black;
		font-family: 'Lora', Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    border-top: 1px solid #ccc;
		clear: both;
}

#footer p {
    font-size: 0.8em;
}

img {
	max-width:100%;
	border: none;
	align-self: center;
	padding-left: 20px;
	padding-right: 20px
}

.navcontainer {
	display: flex;
  flex-direction: row;
justify-content: space-around;/*puts equal amounts of space around each item*/
align-content: stretch;/*default; stretches items to take up space*/
flex-wrap: wrap;
}

@media screen and (min-width: 0px) {
	.navcontainer {
		flex-direction: column;
		justify-content: flex-start;
	}
	p {
		width: 95%;
		margin: 1em auto;
	}
	#sidebar {
		display: none;
	}
}

@media screen and (min-width: 560px) {
	.navcontainer {
		flex-direction: column;
		justify-content: flex-start;
	}
	p {
		width: 95%;
		margin: 1em auto;
	}
	#sidebar {
		display: block;
	}
}

@media screen and (min-width: 599px) {
	.navcontainer {
		flex-direction: row;;
		justify-content: flex-start;
		justify-content: space-around;/*puts equal amounts of space around each item*/
	}
	p {
		width: 80%;
		margin: 1.5em auto;
	}
}


@media screen and (min-width: 1000px) {
	.navcontainer {
		flex-direction: row;
		justify-content: flex-start;
		justify-content: space-around;/*puts equal amounts of space around each item*/
	}
	p {
		width: 80%;
		max-width: 60em;
		margin: 1.5em auto;
	}
}

.wrapper {
  display: flex;
  flex-flow: wrap;
}

.sidebar {
      flex: 1 auto;
		}

/*added 11-11*/

@media screen and (min-width: 700px){

    nav ul {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}

/*ended 11-11*/

.map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
		padding-left: 5%;
	padding-right: 5%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
