html {
	font-size: 100%
}

p, footer {
	color: #666666;
	font-family: 'Lora', Georgia, "Times New Roman", serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

h1 {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 2.5rem;
}

h2 {
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
font-size: 1.5rem;
}

body{
	background-color:#96CEB4;
}

#container{
    width: 95%;
    background-color: #e8e9e9;
    margin: 0 auto;
    text-decoration: none;
}

.header, .main, .footer{
  flex: 1 100%;
  padding: 10px;
}

.navcontainer {
	padding: 5px;
		background: #fff;
	  border-radius: 5px;
		margin: 45px auto;
	  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
	}

	.item {
	color: #000;
	padding: 15px;
	margin: 5px;
	background: #f1b82d;
	border-radius: 3px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-style: bold;
}

#sidebar {
  background: skyblue;
	display: block;
	float: right;
	height: 500px;
	width: 150px;
	padding: 10px;
}



#nav li {
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #FFCC5C;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
		font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #FF6F69;
}

.caption {
    color: black;
		font-family: 'Lora', Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    border-top: 1px solid #ccc;
}

#footer p {
    font-size: 0.8em;
}

img {
	max-width:100%;
	border: none;
	padding: 20px;
}

.navcontainer {
	display: flex;
  flex-direction: row;
justify-content: space-around;/*puts equal amounts of space around each item*/
align-content: stretch;/*default; stretches items to take up space*/
flex-wrap: wrap;
}

@media screen and (min-width: 0px) {
	.navcontainer {
		flex-direction: column;
		justify-content: flex-start;
	}
	p {
		width: 95%;
		margin: 1em auto;
	}
}

@media screen and (min-width: 480px) {
	.navcontainer {
		flex-direction: column;
		justify-content: flex-start;
	}
	p {
		width: 95%;
		margin: 1em auto;
	}
}

@media (min-width: 599px) {
	.navcontainer {
		flex-direction: row;;
		justify-content: flex-start;
		justify-content: space-around;/*puts equal amounts of space around each item*/
	}
	p {
		width: 80%;
		margin: 1.5em auto;
	}
}


@media (min-width: 1000px) {
	.navcontainer {
		flex-direction: row;
		justify-content: flex-start;
		justify-content: space-around;/*puts equal amounts of space around each item*/
	}
	p {
		width: 80%;
		max-width: 60em;
		margin: 1.5em auto;
	}
}

	.aside {
  flex: 1 100%;
  padding: 10px;
	display: block;
	height: 100px;

}

.wrapper {
  display: flex;
  flex-flow: wrap;
}

.sidebar {
      flex: 1 auto;
		}
